<!DOCTYPE html>
<html lang="$if(lang)$$lang$$else$en$endif$">
  <head>
    <meta charset="UTF-8">
    <title>Smatchcube$if(title)$ | $title$$endif$</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/default.css">
    $if(syntax)$$syntax$$endif$
    $if(math)$$math$$endif$
  </head>
  <body>
    <header>
      <h1>Smatchcube's website  🌍</h1>
      <hr>
    </header>
    <nav>
      $nav$
    </nav>
    <main>      
      $body$
      </main>
    <footer>
    </footer>
  </body>
</html>
